@charset "utf-8";

// 各種設定
    @use 'base/reset'; //reset.css
    @use 'base/base' as b; // 初期値の設定など
    @use 'base/mixins' as m; // function
    @use 'base/variables' as v; // color , size など

    // 各種モジュール
    @use 'modules/drawer'; // drawerの設定
    @use 'modules/floating'; // floatingの設定
    @use 'modules/swiper'; // swiperの設定

// Parts読込み/
    @use 'parts/button.scss'; // buttonのコンポーネント
    @use 'parts/breadcrumb'; // breadcrumbのコンポーネント
    @use 'parts/pagination'; // paginationのコンポーネント

// 共通設定
    @use 'base/common'; // ページ間共通設定

// 各種ページ
    @use 'pages/header';
    @use 'pages/front-page';
    @use 'pages/page-about';
    @use 'pages/page-service';
    @use 'pages/news';
    @use 'pages/page';
    @use 'pages/page-case';
    @use 'pages/page-download';
    @use 'pages/page-contact';
    @use 'pages/other-pages';
    @use 'pages/footer';

.more-arrow-sp-wh {
    display: block;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 20px;
        right: 18px;
        width: 35%;
        height: 2px;
        background-color: white;
        transition: all .3s;
    }

    .more-wh:hover &::before {
        right: -12px;
        width: 51%;
    }

    .more-wh:hover &::after {
        right: -5px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 7px;
        right: 24px;
        width: 2px;
        height: 18px;
        transform: rotate(-52deg);
        background-color: white;
        transition: all .3s;
    }
}

.more-arrow-sp-bl {
    display: block;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 20px;
        right: 18px;
        width: 35%;
        height: 2px;
        background-color: v.$cBlue;
        transition: all .3s;
    }

    .more-bl:hover &::before {
        right: -12px;
        width: 51%;
    }

    .more-bl:hover &::after {
        right: -5px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 7px;
        right: 24px;
        width: 2px;
        height: 18px;
        transform: rotate(-52deg);
        background-color: v.$cBlue;
        transition: all .3s;
    }
}