// 各種設定
@use '../base/reset'; //reset.css
@use '../base/base' as b; // 初期値の設定など
@use '../base/mixins' as m; // function
@use '../base/variables' as v; // color , size など


/*============================================================
# pagination
============================================================= */
.pagination {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    gap: 8px;

        @include m.mq(sp) {
            margin-top: 34px;
            gap: 6px;
        }
}

.page-numbers {
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

        @include m.mq(sp) {
            width: 40px;
            height: 40px;
        }

    &:hover {
        background-color: v.$cBlue;
        color: #fff;
    }
}

.current {
    background-color: v.$cBlue;
    color: v.$text-wh;
    cursor: pointer;
}

.prev {
    margin-right: 20px;
    position: relative;

    &:hover::before {
        @include m.svg-parts-icon-chevron-left('fff');
    }

        @include m.mq(sp) {
            margin-right: 0px;
        }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        width: 16px;
        height: 16px;
        @include m.svg-parts-icon-chevron-left('888');

            @include m.mq(sp) {
                width: 13px;
                height: 13px;
                transform: translate(-50%,-50%);
            }
    }
}
.next {
    margin-left: 20px;
    position: relative;

        @include m.mq(sp) {
            margin-left: 0px;
        }
    &:hover::before {
        @include m.svg-parts-icon-chevron-right('fff');
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 16px;
        height: 16px;
        @include m.svg-parts-icon-chevron-right('888');

            @include m.mq(sp) {
                width: 13px;
                height: 13px;
                transform: translate(50%,-50%);
            }
    }
}

/* 個別投稿ページ用ページネーション */
.nav-links {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-previous,
    .nav-next {
        font-size: m.rem(14);
        line-height: 1;
        color: v.$cBlue;
        padding: 10px 16px;
        border: 1px solid v.$cBlue;
        border-radius: 4px;

        &:hover {
            opacity: .8;
        }
    }
}

/* パンくずリスト */
.entry-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;

    & > span,
    & > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 32px;
        border: 1px solid v.$cBlue;
    }

    & > span:hover,
    & > a:hover {
        opacity: .7;
    }
}