// 各種設定
@use '../base/reset'; //reset.css
@use '../base/base' as b; // 初期値の設定など
@use '../base/mixins' as m; // function
@use '../base/variables' as v; // color , size など

/*============================================================
# swiper
============================================================= */
.swiper {
  width: 92.89%;
  height: auto;
  margin-right: 0;

    @include m.mq(tab-b) {
        width: 89.333333%;
    }
}
